
/* Onload */

.onload{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #060f29;
    z-index: 100000000;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: flex-end;
    padding: 1%;
}

.onload .block{
    flex-basis: 33%;
    background-color: #0738cc;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    margin-bottom: 3%;
    transition: .8s ease;
}

.onload .block1{
    height: 10vh;
}

.onload .block2{
    height: 30vh;
    margin: 0 2.5%;
    margin-bottom: 3%;

}

.onload .block3{
    height: 20vh;
}

@keyframes onload1{
    0%{
        height: 10vh;
    }
    100%{
        height: 100vh;
    }
}

@keyframes onload2{
    0%{
        height: 30vh;
    }
    100%{
        height: 100vh;
    }
}

@keyframes onload3{
    0%{
        height: 20vh;
    }
    100%{
        height: 100vh;
    }
}

/* Footer */

footer{
    background: black;
    color: gray;
    padding: 60px 0 20px 0;
    font-size: 14px;
    font-family: 'Inconsolata', sans-serif;
    width: 100vw;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-content: center;
}

.footer-block{
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: center;
    width: 90%;
    margin-left: 5%;
    border-bottom: 1.5px solid grey;
}

footer p{
    color: gray;
    display: inline-block;
}

footer h3{
    color: white;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 20px;
}

footer a{
    color: gray;
    text-decoration: none;
    font-family: 'Inconsolata', sans-serif;
}

.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
    min-width: 250px;
    margin-bottom: 35px;
    text-align: center;
   
}

.footer-col-1{
    flex-basis: 30%;
}

.footer-col-2{
    /* flex: 1; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-flow: column;
}

.footer-col-2 p{
    max-width: 210px;
}

.footer-col-2 img{
    width: 80px;
    margin-bottom: 20px;
}

.footer-col-3, .footer-col-4{
    flex-basis: 12%;
    text-align: center;
}

footer ul{
    list-style-type: none;
    text-align: center;
}

footer li{
    line-height: 30px;
}

.app-logo{
    margin-top: 20px;
}

.app-logo img{
    width: 140px;
    margin-bottom: 15px;
}

.copyright{
    margin-top: 15px;
    text-align: center;
}


