*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

body,html{
	width: 100vw;
	overflow-x: hidden;
	scroll-behavior: smooth;
	background-color: #060f29;
}

a{
	text-decoration: none;
}

li{
	list-style: none;
}

.header{
	width: 100%;
	display: flex;
	align-items: center;
	margin: 0;
	overflow: hidden;
	background-color: #060f29;
	color: white;
	padding: 10px 25px;
	position: fixed;
	z-index: 50000;
	font-family: 'Roboto', sans-serif;
}

.logo{
	display: flex;
	align-items: center;
	position: relative;
	left: 0;
}

.logo-img{
	height: 80px;
	margin-right: 15px;
}

.logo h1{
	font-family: 'Inconsolata';
	color: goldenrod;
	font-size: 2rem;
	line-height: 1.5rem;
	letter-spacing: 3px;
}

.logo small{
	font-family: 'Open Sans';
	color: #bab9b9;
	font-size: large;
	letter-spacing: 0;
}

.nav-block{
	position: absolute;
	right: 10%;
} 

.nav-block ul{
	display: flex;
	font-size: 22px;
}

.nav-block li{
	margin: 0 15px;
}

.nav-block a{
	color: white;
	overflow: hidden;
	transition: .4s all ease;
}

.nav-block .active{
	color: goldenrod;
}

.nav-block .active i{
	width: 100%;
}

.nav-block i{
	height: 2.5px;
	width: 0;
	background-color: white;
	display: block;
	margin: 5px 0 0 0;
	border-radius: 5px;
	transition: .8s all ease;
}

.nav-block li:hover a{
	color: goldenrod;
}

.nav-block li:hover a i{
	width: 100%;
}

/* Menu Bar */
.menu-bar{
	position: absolute;
	right: 10%;
	font-size: 35px;
	width: 50px;
	visibility: hidden;
}

/* Toggle menu */

.side-bar{
	opacity: 0;
	display: none;
	top: 0;
	position: fixed;
	height: 100vh;
	z-index: 1000000;
	padding: 10px 0;
	background: #010207;
	font-family: "Roboto", sans-serif;
	width: 80px;
	overflow-x: hidden;
}


/* Hide scrollbar for Chrome, Safari and Opera */
.side-bar::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .side-bar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

.side-bar .top{
	margin: 0;
	margin-left: 25px;
	margin-bottom: 50px;
	max-width: 250px;
	overflow: hidden;
	visibility: hidden;
	position: relative;
}

.side-bar .top h1{
	margin-top: 35px;
	line-height: 25px;
	font-size: 22px;
	margin: auto 10px;
}
.side-bar .top h1 small{
	font-size: 12px;
}

.side-bar ul{
	position: relative;
	overflow: hidden;
} 

.side-bar li{
	line-height: 60px;
	font-size: 18px;
	letter-spacing: 2px;
	margin: 15px 15px;
	display: block;
	overflow: hidden;
	position: relative;
}

.side-bar li:hover a{
	background: #0738cc;
}

.side-bar a{
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	height: 60px;
	transition: .5s all ease;
	border-radius: 5px;
	min-width: 45px;
	max-width: 100%;
}

.side-bar a span{
	display: none;
}

.side-bar a ion-icon, .side-bar a i{
	position: absolute;
	left: 13px;
	display: block;
	
}

/* Main */
main{
	top: 30px;
	height: auto;
	width: 100vw;
	padding: 0;
	margin: 0;
	position: relative;
}

main #img1{
	position: absolute;
	width: 40%;
	left: 50%;
	top: 45%;
	opacity: .8;
	translate: (-50%, -80%);
	cursor: default;
	z-index: 1;
}

main #img2{
	position: absolute;
	width: 20%;
	left: 10%;
	top: 15%;
	opacity: .5;
	translate: (-30%, -20%);
	cursor: default;
	z-index: 1;
	border-radius: 50%;
}

.scroll-down{
	transform: rotate(-90deg);
	font-size: 1.3rem;
	font-weight: bold;
	font-family: 'Roboto', sans-serif;
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 11rem;
	position: fixed;
	top: 85%;
	left: 0%;
	margin: 0;
	color: orange;
	z-index: 500;
	cursor: pointer;
}


/* Slide */
.slide{
	top: 100%;
	z-index: 50;
	overflow: hidden;
	padding: 80px 0 20px 50px;
	margin-right: 50px;
	margin-bottom: 50px;
	width: 700px;

}
 
 .slide img{ border-radius: 5px; width: 700px; height: 500px; }


.landing-block{
	width: 100vw;
	height: auto;
	padding: 100px 15px;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	position: relative;
	overflow-x: hidden;
}

.gallery{
	display: grid;
	grid-template-columns: 30% 30% 30%;
	grid-template-rows: 30% 30% 30%;
	z-index: 10;
	align-content: center;
	justify-content: center;
}

.gallery li{
	overflow: hidden;
	margin: 3%;
	border-radius: 5px;
}
.gallery li img{ border-radius: 5px;  max-width: 200px; max-height: 150px;}

/* Awards */

.award{
	color: white;
	width: 100vw;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	padding: 15px 0 30px 0;
	font-family: 'Open Sans', sans-serif;
}

.award-section{
	display: flex;
	flex-flow: row wrap;
	align-items: flex-start;
	justify-content: center;
	width: 100%;
}

.award-name{
	flex-basis: 45%;
	font-size: 30px;
	padding: 10px 20px 10px 10px;
}

.award-name p:nth-child(1){
	font-size: 50px;
	font-weight: bold;

}
.award-name p:nth-child(2){
	font-size: 22px;
	margin: 15px 0;
}

.price{
	flex-basis: 30%;
	height: 100%;
	font-size: 50px;
	font-weight: bold;
	line-height: 70px;
	padding: 15px;
	text-align: center;
}

/* Horizontal details */
.award-info{
	width: 100vw;
	display: flex;
	flex-flow: row wrap;
	align-content: center;
	justify-content: center;
	padding: 15px 0 30px 0;
}

.award-info div{
	width: 250px;
	display: flex;
	flex-flow: column;
	align-content: center;
	justify-content: center;
	text-align: center;
	margin: 25px;
}

.award-info div i{
	height: 1px;
	background: gray;
	width: 100%;
	display: block;
}

.award-info div p:nth-child(2){
	font-size: 20px;
	margin: 50px 0 20px 0;
}

.award-info div p:nth-child(3){
	font-size: 40px;
	margin: 20px 0 50px 0;
}

/* Services */

.services{
    background-color: white;
    font-family: 'Open Sans', sans-serif;
	padding: 50px 0 100px 0;
	position: relative;
	background-image: linear-gradient(rgba(255, 255, 255, 0.85),rgba(255, 255, 255, 0.85)), url(../images/houston.png);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.services-text p:nth-child(1) ion-icon{
	color: red;
}
.services-text p:nth-child(1){
    font-weight: bold;
    color: #0a33ac;
    font-size: 30px;
    overflow: visible;

}

.services-text p:nth-child(2){
    font-weight: bold;
    color: #060f29;
    font-size: 15px;
	overflow: visible;
	line-height: 35px;

}

.services-text p:nth-child(3) a:hover{
	text-decoration: underline;
}

.services-text p:nth-child(3) a{
	color: #0a33ac;
    font-weight: 700;
}

.services-text{
    max-width: 500px;
    min-width: 250px;
    margin: 50px 10%;
}

.box{
    min-width: 300px;
    min-height: 300px;
    height: 380px;
    background-repeat: no-repeat;
	box-shadow: 5px 5px 15px 4px rgba(0, 0, 0, 0.5);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
    margin: 20px;
    border-radius: 5px;
    background-color: #262525;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
	flex-flow: column;
	text-align: center;

}

.box-1{background-image: linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.8)), url(../images/brainstorming_.png);}
.box-2{background-image: linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.8)), url(../images/real_estate_agent.png);}
.box-3{background-image: linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.8)), url(../images/money_jar.png);}

.box:hover{
	box-shadow: none;
	top: -5px;
}

.box-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

.box-1 span,
.box-2 span,
.box-3 span{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

.box .heading{
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 23px;
	margin-bottom: 15px;

}


.box p:nth-child(3){
    text-align: center;
    width: 230px;
	margin: 0 0 20px 0;
	font-size: 16px;
    color: white;
}

.box i{
    font-style: normal;
    display: none;
    color: white;
}


.box p i a:hover{
	color: white;
	text-decoration: underline;
}

.box p i a{
	margin-top: 3px;
	transition: .3s ease;
	color: red;
	font-weight: bold
}

.box button{
    width: 100px;
    height: 30px;
    background: white;
    border: none;
    outline: none;
    border-radius: 5px;
    font-family: 'Oswald', sans-serif;
	margin-top: 5px;
	cursor: pointer;
}



@media (max-width: 1544px) {

	.slide img{ border-radius: 5px; width: 600px; }

	.slide{
		width: 600px;
		padding: 0;
	}

}







@media only screen and (max-width: 880px){

	.nav-block{
		display: none;
	} 

	.logo h1{
		margin-top: 35px;
		line-height: 25px;
		font-size: 25px;
		margin: auto 10px;
	}
	.logo h1 small{
		font-size: 12px;
	}


	.menu-bar{
		visibility: visible;
	}

		
	.side-bar {
		opacity: 1;
	}
		
	.scroll-down{
		display: none;
	}


	

.slide{
	top: 100%;
	z-index: 50;
	width: 550px;
	overflow: hidden;
	padding: 80px 0 20px 50px;
	margin-right: 50px;
	margin-bottom: 50px;
	
}


/* Test slide */
 .slide img{ border-radius: 5px; width:550px; height: 500px; }

.landing-block{
	width: 100vw;
	height: auto;
	padding: 0 0 50px 0;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	overflow-x: hidden;
}

/* Award */
.award-name p:nth-child(1){
	font-size: 28px;
	font-weight: bold;

}
.award-name p:nth-child(2){
	font-size: 18px;
	margin: 15px 0;
}

.price{
	flex-basis: 30%;
	height: 100%;
	font-size: 38px;
	font-weight: bold;
	line-height: 70px;
	padding: 15px;
	text-align: center;
}
}



@media only screen and (max-width: 611px){


	.nav-block{
		display: none;
	} 

	.logo{
		padding: 0;
	}

	.logo img{
		display: none;
	}

	.logo h1{
		line-height: 20px;
		font-size: 22px;
		margin: 10px 20px;
	}
	.logo h1 small{
		font-size: 12px;
	}


	.menu-bar{
		right: 50px;
		font-size: 28px;
	}

		
	.side-bar {
		opacity: 1;
	}

.slide{
	top: 100%;
	z-index: 50;
	width: 90vw;
	overflow: hidden;
	padding: 80px 0 20px 50px;
	margin-right: 50px;
	margin-bottom: 50px;

}


/* Test slide */
 .slide img{ border-radius: 5px; width:90vw; height: 350px; }
 

.landing-block{
	width: 100vw;
	height: auto;
	padding: 20px 0 60px 0;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
}

.gallery{
	display: grid;
	grid-template-columns: 30% 30% 30%;
	grid-template-rows: 30% 30% 30%;
	position: relative;
	z-index: 10;
	margin: auto 50px;
	padding: 0;
	width: 80vw;
}

.gallery li img{ border-radius: 5px; 
	 width: 100%; 
	 }

}

@media only screen and (max-width: 305px){



.landing-block{
	width: 100vw;
	height: auto;
	padding: 20px 0;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
}

.gallery{
	display: grid;
	grid-template-columns: 30% 30% 30%;
	grid-template-rows: 30% 30% 30%;
	position: relative;
	z-index: 10;
	margin: auto 50px;
}

}